<%- include('../partials/metadata') %>
    <%- include('../partials/header') %>


        <main>
            <form action="/products/create" method="POST" enctype="multipart/form-data" >
                <!-- NO VA /GUARDAR la ruta ? -->
                <!--enctype="multipart/form-data"-->
                <section class="form-register" >
                    <div class="logo1">
                        <a href="/">
                            <img src="\images\completo-XLR8-mediano.png">
                        </a>
                    </div>
                    <h4>NUEVO PRODUCTO</h4>
                    <input class="controls" type="text" name="title" id="tituloProducto" placeholder="tituloProducto">
                    <input class="agregar-foto" type="file" name="img1" accept=".jpg, .png, .jpeg"
                        placeholder="Agregar Foto Frente">
                    <input class="agregar-foto" type="file" name="img2" accept=".jpg, .png, .jpeg"
                        placeholder="Agregar Foto Frente">
                    <input class="agregar-foto" type="file" name="img3" accept=".jpg, .png, .jpeg"
                        placeholder="Agregar Foto Frente">
                    <textarea id="controls" name="description" rows="10" id="descripcion-area"
                        placeholder="description"></textarea>
                    <input class="controls" type="number" name="price" id="password" placeholder="Precio">
                    <input class="controls" type="number" name="price_discount" id="precio-promo"
                        placeholder="Precio Promocional">
                    <label for="talle">TALLE</label>
                    <select id="talle" name="size">
                        <option value="small">SMALL</option>
                        <option value="medium">MEDIUM</option>
                        <option value="large">LARGE</option>
                        <option value="xl">XL</option>
                    </select>
                    <label for="color">COLOR</label>
                    <select id="color" name="color">
                        <option value="negro">NEGRO</option>
                        <option value="gris">GRIS</option>
                        <option value="blanco">BLANCO</option>
                        <option value="color">COLOR</option>
                    </select>
                    <div class="genre">
                        <!-- REVISAR CSS -->
                        <p>CATEGORIAS </p>
                        <label>HOMBRE<input type='radio' name='genero' value="hombre"> </label>
                        </br>
                        <label>MUJER<input type='radio' name='genero' value="mujer"> </label>
                        </br>
                        <label>UNISEX<input type='radio' name='genero' value="unisex"> </label>
                        </br>
                    </div>
                    <div class="categories">
                        <p> TIPO DE PRENDA </p>
                        <label>REMERAS<input type='radio' name='categories' value="remeras"> </label>
                        </br>
                        <label>PANTALONES<input type='radio' name='categories' value="pantalones"> </label>
                        </br>
                        <label>SHORTS<input type='radio' name='categories' value="short"> </label>
                        </br>
                        
                    </div>
                    <div class="categories">
                        <p> NUEVO PRODUCTO </p>
                        <label>SI<input type='radio' name='new' value="0"> </label>
                        </br>
                        <label>NO<input type='radio' name='new' value="1"> </label>
                        </br>
                    </div>
                    <button class="botons" type="submit"> AGREGAR PRODUCTO</button>
                    <!-- <button class="botons" type="submit"> EDITAR PRODUCTO</button>
                    <button class="botons" type="submit"> ELIMINAR PRODUCTO </button> --> 

                </section>
            </form>
        </main>

        <%- include('../partials/footer') %>