<%- include('../partials/metadata') %>
    <%- include('../partials/header') %>

        <main>    
                
            <form action="/users/login" method="POST">
                <section class="form-register">
                    <div class="logo1">
                        <a href="/">
                            <img src="\images\completo-XLR8-mediano.png">
                        </a>
                    </div>
                    <h4>Ingresar a tu cuenta</h4>
                    <fieldset>
                        <% if (locals && locals.errorMsg) { %>
                          <% for (let error in errorMsg ) { %>
                            <p class="errors-form"> <%= errorMsg[error].msg %> </p>          
                          <% } %>
                        <% } %> 
                    </fieldset>     
                    <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo">
                    <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña">

                    <p>
                        <input type="checkbox" name="remember"> Deseo mantener abierta mi sesión <br>    
                    </p>
                    <input class="botons" type="submit" value="Ingresar">
                    </br>
                    </br>
                    <h6><a href="/register">¿Olvidaste tu Contraseña? Lolamento!</a></h6>
                    
                    </br>
                </section>
            </form>
        </main>

        <%- include('../partials/footer') %>